/* /Users/simal/Desktop/Detective/styles/TextMessage.css */
@font-face {
  font-family: "RedAlert";
  src: url("/images/fonts/RedAlert.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
  z-index: 1; /* <<< ADD THIS LINE */
}

.TextMessage_p {
  margin: 0;
  font-size: 10px;
  font-family: "RedAlert", sans-serif;
}

.TextMessage span {
  display: inline-block;
  white-space: pre;
  opacity: 0;
  transition: opacity 0.05s linear;
  min-width: 0.6ch;    /* ⬅️ Large space for testing */
}


.TextMessage span.revealed {
  opacity: 1;
}

/* 💬 ADD THESE NEW FORMATTING RULES BELOW THIS POINT */
.TextMessage_p span.inner {
  font-style: italic;
  color: #999;
}

.TextMessage_p span.ghost {
  font-style: italic;
  color: #b0e0e6;
}

.TextMessage_p span.bold {
  font-weight: bold;
}

/* Existing button styles */
.TextMessage_button {
  margin: 0;
  font-size: 8px;
  padding:0;
  -webkit-appearance: none;
  background:none;
  border:0;
  font-family: inherit;
  cursor: pointer;

  position: absolute;
  right: 2px;
  bottom: 0;
}